@charset "UTF-8";





@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard-Light.eot');
    src: url('font/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Light.woff2') format('woff2'),
        url('font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard-Black.eot');
    src: url('font/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Black.woff2') format('woff2'),
        url('font/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard-ExtraBold.eot');
    src: url('font/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-ExtraBold.woff2') format('woff2'),
        url('font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard-Bold.eot');
    src: url('font/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Bold.woff2') format('woff2'),
        url('font/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard-ExtraLight.eot');
    src: url('font/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-ExtraLight.woff2') format('woff2'),
        url('font/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard-Thin.eot');
    src: url('font/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Thin.woff2') format('woff2'),
        url('font/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard-Medium.eot');
    src: url('font/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Medium.woff2') format('woff2'),
        url('font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard-Regular.eot');
    src: url('font/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-Regular.woff2') format('woff2'),
        url('font/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/Pretendard-SemiBold.eot');
    src: url('font/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/Pretendard-SemiBold.woff2') format('woff2'),
        url('font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
body {
    word-break: keep-all;
    color: #343434;
    font-family: 'Pretendard';
    cursor: default;
    scroll-behavior: smooth;
}





section {
    width: 100%;
    height: 100vh;
}
.inner {
    max-width: 1600px;
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 auto;
    position: relative;
}





.sect_wrap {
    position: relative;
}





.sect1 {
    overflow-x: hidden;
    position: sticky;
    left: 0;
    top: 0;
}
.sect1 .line {
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    left: 0;
    top: 46%;
    transform: translateY(-50% - 1px);
    z-index: -1;
    animation: line 8s linear infinite forwards;
}
@keyframes line {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
.sect1 .inner {
    position: relative;
    /* border-bottom: 1px solid #ddd; */
}
.sect1 .txt {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-30%);
}
.sect1 h1 {
    display: flex;
    align-items: flex-end;
    font-weight: 100;
    margin-bottom: 80px;
}
.sect1 h1 .name {
    margin-right: 60px;
}
.sect1 h1 .name span {
    font-size: 192px;
    line-height: 1;
    position: relative;
}
.sect1 h1 .name span::before,
.sect1 h1 .name span::after {
    opacity: 0;
    transition: 0.2s;
    display: none;
}
.sect1 h1 .name:hover span::before,
.sect1 h1 .name:hover span::after {
    opacity: 1;
}
.sect1 h1 .name span:nth-of-type(3)::before {
    content: '';
    width: 50%;
    height: 50%;
    background: url('../image/eye_white.png') center center / contain no-repeat;
    position: absolute;
    left: 30%;
    bottom: 70%;
    z-index: -1;
}
.sect1 h1 .name span:nth-of-type(3)::after {
    content: '';
    width: 50%;
    height: 50%;
    background: url('../image/eye_black.png') center center / contain no-repeat;
    position: absolute;
    left: 30%;
    bottom: 70%;
    z-index: -1;
    animation: eyes 8s ease-in-out infinite forwards;
}
@keyframes eyes {
    0% {
        left: 30%;
        bottom: 70%;
    }
    22% {
        left: 38%;
        bottom: 65%;
    }
    50% {
        left: 42%;
        bottom: 70%;
    }
    98% {
        left: 42%;
        bottom: 70%;
    }
    100% {
        left: 30%;
        bottom: 70%;
    }
}
.sect1 h1 .sub span {
    display: inline-block;
    font-size: 36px;
    line-height: 1;
}
.sect1 h1 .sub span:nth-of-type(1) {
    animation: rotate 8s 1.4s infinite forwards;
}
.sect1 h1 .sub span:nth-of-type(2) {
    animation: rotate 8s 1.5s infinite forwards;
}
.sect1 h1 .sub span:nth-of-type(3) {
    animation: rotate 8s 1.6s infinite forwards;
}
.sect1 h1 .sub span:nth-of-type(4) {
    animation: rotate 8s 1.7s infinite forwards;
}
.sect1 h1 .sub span:nth-of-type(5) {
    animation: rotate 8s 1.8s infinite forwards;
}
.sect1 h1 .sub span:nth-of-type(6) {
    animation: rotate 8s 1.9s infinite forwards;
}
.sect1 h1 .sub span:nth-of-type(7) {
    animation: rotate 8s 2s infinite forwards;
}
.sect1 h1 .sub span:nth-of-type(8) {
    animation: rotate 8s 2.1s infinite forwards;
}
.sect1 h1 .sub span:nth-of-type(9) {
    animation: rotate 8s 2.2s infinite forwards;
}
.sect1 h1 .sub span:nth-of-type(10) {
    animation: bounce 8s 2.3s infinite forwards;
}
@keyframes rotate {
    0% {
        transform: rotateX(0);
    }
    25% {
        transform: rotateX(360deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    12.5% {
        transform: translateY(10px);
    }
    25% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
.sect1 .txt > span {
    display: block;
    color: #545454;
    margin-bottom: 100px;
}
.sect1 .arrow span {
    display: block;
    width: 20px;
    height: 12px;
    background: url('../image/arrow.png') center top / contain no-repeat;
    opacity: 0;
}
.sect1 .arrow span:nth-of-type(1) {
    animation: fade 4s infinite forwards;
}
.sect1 .arrow span:nth-of-type(2) {
    animation: fade 4s 0.4s infinite forwards;
}
.sect1 .arrow span:nth-of-type(3) {
    animation: fade 4s 0.8s infinite forwards;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}





.sect2 {
    padding-top: 200px;
    color: #454545;
    position: sticky;
    left: 0;
    top: 0;
    background-color: #fff;
    border-top: 1px solid #fafafa;
}
.sect2 .inner {
    border-bottom: 1px solid #ddd;
    padding-bottom: 100px;
}
.sect2 .box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.sect2 .box > figure {
    width: 177px;
}
.sect2 .box > figure img {
    display: block;
    width: 100%;
    object-fit: contain;
}
.sect2 .box > ul {
    width: calc(100% - 177px);
    padding-left: 200px;
}
.sect2 .box > ul > li {
    margin-bottom: 10px;
}
.sect2 .box ul li ul li {
    display: inline-block;
}
.sect2 .box ul li ul .step1 {
    margin-right: 10px;
}
.sect2 .box ul li ul .step2 {
    padding-left: 10px;
    margin-right: 20px;
    position: relative;
}
.sect2 .box ul li ul .step2::before {
    content: '';
    width: 1px;
    height: 50%;
    background-color: #bbb;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sect2 .box ul li ul .step3 {
    color: #767676;
}
.sect2 .box ul .name {
    margin-bottom: 15px;
}
.sect2 .box ul .name .step1 {
    font-size: 36px;
    margin-right: 30px;
}
.sect2 .box ul .name .step3 {
    font-weight: 300;
}
.sect2 .box ul .contact {
    margin-bottom: 100px;
}
.sect2 .box ul .contact .step2 {
    padding-left: 15px;
}
.sect2 .box ul .contact .step2::before {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #454545;
    border-radius: 50%;
}
.sect2 .inner > ul li {
    display: inline-block;
    padding-right: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
.sect2 .inner > ul li::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #bbb;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sect2 .inner > ul li:last-of-type {
    padding-right: 0;
    margin-right: 0;
}
.sect2 .inner > ul li:last-of-type::before {
    display: none;
}





.sect3 {
    height: auto;
    padding: 100px 0;
}
.sect3 .inner > .title {
    margin-bottom: 150px;
}
.sect3 .inner > .title h2 {
    display: inline-block;
    font-size: 64px;
    font-weight: 100;
    margin-right: 40px;
}
.sect3 .inner > .title span {
    color: #767676;
    font-weight: 300;
}
.sect3 .box {
    display: flex;
    flex-wrap: wrap;
}
.sect3 .list {
    width: 20%;
}
.sect3 .list li {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .1s;
}
.sect3 .list li:hover,
.sect3 .list li.on {
    filter: grayscale(.7);
    opacity: .7;
}
.sect3 .list li figure {
    width: 100%;
}
.sect3 .list li figure img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.sect3 .list li span {
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.sect3 .cont {
    width: 80%;
    padding-left: 200px;
}
.sect3 .cont .item {
    width: 100%;
    display: none;
}
.sect3 .cont .item:first-of-type {
    display: block;
}
.sect3 .cont .item > a {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    transition: .1s;
}
.sect3 .cont .item > a:hover {
    border: 1px solid #eee;
}
.sect3 .cont .item > a figure {
    width: 100%;
}
.sect3 .cont .item > a figure img {
    display: block;
    width: 100%;
    object-fit: contain;
}
.sect3 .cont .item .title {
    display: flex;
    margin-bottom: 100px;
}
.sect3 .cont .item .title h3 {
    font-size: 48px;
    font-weight: 200;
    line-height: 1.3;
    margin-right: 60px;
}
.sect3 .cont .item .title a {
    width: 64px;
    height: 64px;
}
.sect3 .cont .item .title a svg {
    width: 100%;
    height: 100%;
}
.sect3 .cont .item .title a svg rect {
    transition: .1s;
}
.sect3 .cont .item .title a:hover svg rect {
    fill: #FF6347;
}
.sect3 .cont .item > ul {
    margin-bottom: 80px;
}
.sect3 .cont .item ul li ul li {
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 20px;
    margin-right: 10px;
    position: relative;
}
.sect3 .cont .item ul li ul li::before {
    content: '';
    width: 1px;
    height: 50%;
    background-color: #bbb;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sect3 .cont .item ul li ul li:last-of-type {
    padding-right: 0;
    margin-right: 0;
}
.sect3 .cont .item ul li ul li:last-of-type:before {
    display: none;
}
.sect3 .cont .item > span {
    display: block;
    color: #545454;
    margin-bottom: 80px;
}





.sect4 {
    color: #454545;
}
.sect4 .txt {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-30%);
}
.sect4 .txt p {
    font-size: 64px;
    font-weight: 100;
    margin-bottom: 100px;
}
.sect4 .txt dl {
    margin-bottom: 50px;
}
.sect4 .txt dl dt,
.sect4 .txt dl dd {
    display: inline-block;
    font-size: 18px;
}
.sect4 .txt dl dt {
    margin-right: 10px;
}
.sect4 .btn_top {
    width: 56px;
    height: 56px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    cursor: pointer;
    transition: .1s;
}
.sect4 .btn_top:hover {
    border: 1px solid #545454;
    background-color: #545454;
}
.sect4 .btn_top svg {
    width: 100%;
    height: 100%;
}
.sect4 .btn_top svg rect {
    transition: .1s;
}
.sect4 .btn_top:hover svg rect {
    fill: #fff;
}





@media screen and (max-width: 1024px) {
    section {
        min-height: 640px;
        height: auto;
        padding: 200px 0;
    }
    .inner {
        height: auto;
    }





    .sect1 .txt {
        position: static;
        transform: translateY(0);
    }





    .sect2 .box > figure {
        order: 1;
        display: none;
    }
    .sect2 .box > ul {
        width: 100%;
        padding-left: 0;
    }
    .sect2 .box ul .name .step3 {
        display: none;
    }





    .sect3 {
        padding: 0 0 200px;
    }
    .sect3 .cont {
        padding-left: 100px;
    }
}





@media screen and (max-width: 767px) {
    .sect1 {
        height: 640px;
        padding: 50px 0 0;
    }
    .sect1 h1 {
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .sect1 h1 .name span {
        display: block;
        font-size: 72px;
    }
    .sect1 h1 .sub span {
        font-size: 28px;
    }
    .sect1 .txt > span {
        margin-bottom: 40px;
    }





    .sect3 .list {
        display: none;
    }
    .sect3 .cont {
        width: 100%;
        padding-left: 0;
    }
    .sect3 .cont .item {
        display: block !important;
        padding-bottom: 100px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 100px;
    }
}





@media screen and (max-width: 500px) {
    section {
        padding: 100px 0;
    }





    .sect2 .box {
        margin-bottom: 100px;
    }
    .sect2 .box > ul > li {
        margin-bottom: 50px;
    }
    .sect2 .box ul li ul li {
        display: block;
        margin-bottom: 5px;
    }
    .sect2 .box ul li ul .step1 {
        margin-right: 0;
    }
    .sect2 .box ul li ul .step2 {
        padding-left: 0;
        margin-right: 0;
    }
    .sect2 .box ul li ul .step2::before {
        display: none;
    }
    .sect2 .box ul .contact .step2 {
        padding-left: 0;
    }





    .sect3 .cont .item .title {
        margin-bottom: 40px;
    }
    .sect3 .cont .item .title h3 {
        font-size: 36px;
        margin-right: 20px;
    }
    .sect3 .cont .item .title a {
        width: 42px;
        height: 42px;
    }
    .sect3 .cont .item .title a svg {
        margin-top: 4px;
    }
    .sect3 .cont .item .title a svg rect {
        fill: #FF6347;
    }
    .sect3 .cont .item > ul {
        margin-bottom: 40px;
    }
    .sect3 .cont .item > span {
        margin-bottom: 40px;
    }
}





@media screen and (max-width: 340px) {
    .sect1 h1 .name span {
        font-size: 56px;
    }
    .sect1 h1 .sub span {
        font-size: 24x;
    }
}